<footer class="container">
    <div class="row text-center mb-2">
        <div class="col">
            <h4>poject team</h4>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-md-6">
            <h6>Backend developer</h6>
            <p></p>
            <a target="_blank" href="https://www.linkedin.com/in/omargreyes/">
                <li> Omar G Reyes </li>
            </a>
        </div>
        <div class="col">
            <h6>Frontend developer</h6>
            <p></p>
            <a target="_blank" href="https://www.linkedin.com/in/arcesio-espitia/">
                <li> Arcesio M. Espitia R.</li>
            </a>
        </div>  
    </div>
</footer>